<div class="stats-wrapper">
  <div>
    <h4>some info: </h4>
    <span>
      some info
    </span>
  </div>
</div>

<div class="general-errors-wrapper">
  <span class="fas fa-exclamation-triangle"></span>
  <span class="general_errors">
    error
  </span>
</div>

<table>
  <thead>
    <tr class="table100-head">
      <th class="column">Workout plan</th>
      <th class="column">Assigned to</th>
      <th class="column">Exercises</th>
      <th class="column">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="workout_plan in $ctrl.workout_plans">
      <td class="column">{{ workout_plan.name || 'none' }}</td>
      <td class="column">
        <span ng-repeat="user in workout_plan.users">
          {{ user.full_name }} {{ $last ? '' : ', ' }}
        </span>
      </td>
      <td class="column exercises">
        <span ng-repeat="exercise in workout_plan.workout_exercises">
          {{ exercise.name }} {{ $last ? '' : ', ' }}
        </span>
      </td>
      <td class="column">Edit</td>
    </tr>
  </tbody>
</table>
