<div class="stats-wrapper">
  <div>
    <h4>some info: </h4>
    <span>
      some info
    </span>
  </div>
</div>

<div class="general-errors-wrapper">
  <span class="fas fa-exclamation-triangle"></span>
  <span class="general_errors">
    error
  </span>
</div>

<table>
  <thead>
    <tr class="table100-head">
      <th class="column">Workout plan</th>
      <th class="column">Assigned to</th>
      <th class="column">Workout days</th>
      <th class="column">Different exercises</th>
      <th class="column">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="column">xxx</td>
      <td class="column">xxx</td>
      <td class="column">xxx</td>
      <td class="column">xxx</td>
      <td class="column">xxx</td>
    </tr>
  </tbody>
</table>
